######################################################################
# library path
######################################################################
#DEPENDPATH += . /usr/local/qwt-5.2.0-svn/lib
INCLUDEPATH += . /usr/realtime/include /usr/include/qwt-qt4
LIBS +=  -lqwt-qt4
#uncommend for earlier versions of RTAI
#DEFINES           += _RTAI_<_3_80_
#CONFIG += debug
#############
# do same tests
############

#CONFIG += QRLtests
