######################################################################
# library path
######################################################################
DEPENDPATH += . /usr/local/qwt-5.1/lib
INCLUDEPATH += . /usr/realtime/include /usr/local/qwt-2-svn/include
LIBS += -L/usr/local/qwt-2-svn/lib -lqwt
#############
# do same tests
############

#CONFIG += QRLtests
