######################################################################
# library path
######################################################################
#DEPENDPATH += . /usr/local/qwt-5.1/lib
INCLUDEPATH += . /usr/realtime/include /usr/include/qwt/
LIBS +=  -lqwt
#CONFIG += debug
#############
# do same tests
############

#CONFIG += QRLtests
