######################################################################
# library path
######################################################################
DEPENDPATH += . /usr/local/qwt-5.0.2/lib
INCLUDEPATH += . /usr/realtime/include /usr/local/qwt-5.0.2/include/
LIBS += -L/usr/local/qwt-5.0.2/lib -lqwt

