######################################################################
# library path
######################################################################
DEPENDPATH += . /usr/local/qwt-5.2.0-svn/lib
INCLUDEPATH += . /usr/realtime/include /usr/local/qwt-5.2.0-svn/include
LIBS +=  -lqwt
#CONFIG += debug
#############
# do same tests
############

#CONFIG += QRLtests
